/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; font-weight: normal; }

html, body, fieldset, img, iframe, abbr { border: 0; }

i, cite, em, var, address, dfn { font-style: normal; }

[hidefocus], summary { outline: 0; }

li { list-style: none; }

h1, h2, h3, h4, h5, h6, small { font-size: 100%; }

sup, sub { font-size: 83%; }

pre, code, kbd, samp { font-family: inherit; }

q:before, q:after { content: none; }

textarea { overflow: auto; resize: none; }

label, summary { cursor: default; }

a, button { cursor: pointer; }

del, ins, u, s, a, a:hover { text-decoration: none; }

body, textarea, input, button, select, keygen, legend { font: 12px/1.14 'Microsoft YaHei',\5b8b\4f53; color: #333; outline: 0; }

html body { font: 12px/1.14 'Microsoft YaHei',\5b8b\4f53; color: #333; outline: 0; }

body { background: #fff; }

img { vertical-align: middle; }

body, html { background: #fafafa; width: 100%; }

.wrapper { width: 990px; margin: 0 auto; }

.wrapper .header { padding-top: 14px; padding: 20px 0; }

.wrapper .header .register-bar { float: right; padding: 21px 0 0; font-size: 14px; line-height: 22px; }

.wrapper .header .register-bar a { float: right; height: 16px; padding: 3px 10px; color: #c00; font: normal 14px/14px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"; }

.wrapper .header .logo { float: left; }

.wrapper .header .logo a { float: left; color: #000; }

.wrapper .header .logo a img { float: left; width: 182px; height: 60px; }

.wrapper .header .logo a p { float: left; margin: 8px 0 0 8px; padding-left: 10px; font: 14px/44px simsun; color: #666; border-left: 1px solid #e6e6e6; cursor: pointer; }

.wrapper form .login-wrap { margin: 30px 0 0; border: 1px solid #e6e6e6; background: #fff; margin-top: 26px; }

.wrapper form .login-wrap .ad-div { float: left; }

.wrapper form .login-wrap .ad-div a img { border: 0; width: 520px; height: 350px; }

.wrapper form .login-wrap .login-layer { float: right; padding: 0 85px 0 0; width: 290px; }

.wrapper form .login-wrap .login-layer .login-head { position: relative; zoom: 1; padding: 20px 0 0; }

.wrapper form .login-wrap .login-layer .login-head .otherLogin-bar { float: right; padding: 0 0 0 17px; color: #333; line-height: 28px; }

.wrapper form .login-wrap .login-layer .login-head h3 { height: 28px; overflow: hidden; font: 18px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"; color: #666; }

.wrapper form .login-wrap .login-layer .login-content { padding: 30px 0 0; position: relative; zoom: 1; }

.wrapper form .login-wrap .login-layer .login-content .form-item { position: relative; margin: 0 0 7px; padding: 8px 5px; height: 22px; border: 1px solid #ccc; }

.wrapper form .login-wrap .login-layer .login-content .form-item .text { display: block; width: 278px; height: 22px; font: 14px/22px "Arial"; border: 0 none; }

.wrapper form .login-wrap .login-layer .login-content .form-item .account-list { position: absolute; top: 38px; left: -1px; width: 288px; border: 1px solid #ccc; background: #fff; }

.wrapper form .login-wrap .login-layer .login-content .username { z-index: 2; margin: 0 0 10px; }

.wrapper form .login-wrap .login-layer .login-content .form-other { padding: 0 0 17px; overflow: hidden; zoom: 1; }

.wrapper form .login-wrap .login-layer .login-content .form-other a { float: right; }

.wrapper form .login-wrap .login-layer .login-content .login-layer-btn, .wrapper form .login-wrap .login-layer .login-content .submit-loading { display: block; margin: 0 0 10px; width: 290px; height: 40px; font: bold 14px/40px "Arial"; color: #fff; text-align: center; border: 0 none; background-color: #ccc; }

.wrapper form .login-wrap .login-layer .collaborate { width: 290px; text-align: center; margin-top: 15px; color: #666666; }

.wrapper form .login-wrap .login-layer .collaborate .xian { float: left; height: 1px; background: #f0f0f0; width: 100px; margin-top: 7px; }

.wrapper form .login-wrap .login-layer .collaborate .xian:first-child { margin-right: 9px; }

.wrapper form .login-wrap .login-layer .collaborate p { float: left; }

.wrapper form .login-wrap .login-layer .collaborate .xian:last-child { margin-left: 9px; }

.wrapper form .login-wrap .login-layer .login-foot { margin: 10px 0 0; /* .weibo{ background-position: 0 -82px;} .qq {background-position: -39px -82px;} .zhifubao {background-position: -78px -82px;} .baidu {background-position: -117px -82px;} */ }

.wrapper form .login-wrap .login-layer .login-foot .weixin { float: left; margin: 0 12px 0 25px; width: 38px; height: 38px; /* text-indent: -9999em; */ overflow: hidden; color: #000; /* background: url(http://icon.zol-img.com.cn/newshop/login/bgs2.png) 0 0 no-repeat; */ }

.wrapper form .login-wrap .login-layer .login-foot .weibo, .wrapper form .login-wrap .login-layer .login-foot .qq, .wrapper form .login-wrap .login-layer .login-foot .zhifubao, .wrapper form .login-wrap .login-layer .login-foot .baidu { float: left; margin: 0 12px 0 0; width: 38px; height: 38px; /* text-indent: -9999em; */ overflow: hidden; color: #000; font-size: 12px; }

.footer { margin: 50px 0 0; padding: 12px 0 25px; border-top: 1px solid #dcdcdc; }

.footer .wrapper { width: 990px; margin: 0 auto; }

.footer .wrapper .about { float: left; margin: 0 0 0 -10px; color: #ccc; }

.footer .wrapper .about a { margin: 0 10px; color: #666; }

.footer .wrapper .copyright { float: right; color: #666; }
